*{
    box-sizing: border-box;
}

.container-fluid{
    width: 100%;
    background-image: url('https://i.pinimg.com/564x/4a/a9/9b/4aa99b6ad2d2cbc7cb04a41571885a8f.jpg');
}



.container-navbar{
    width: 100%;
    background-color: black;
}

.container-planets{
    margin-top: 40px;
}