*{
    box-sizing: border-box;
}

/* body, html {
    margin: 0;
    padding: 0;
} */

.container-fluid{
    padding-bottom: 3%;
    background-image: url('https://i.pinimg.com/564x/4a/a9/9b/4aa99b6ad2d2cbc7cb04a41571885a8f.jpg');
   
}


/* .container-body-characters,
.container-planets,
.container-vehicles {
    height: calc(100% - 6%); /* subtract the total margin (3% + 3%) */
/* } */
/* .container-planets{
    width: 100%;
}

.container-vehicles{
    width: 100%;
    
}  */
