@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Crete+Round&family=Merriweather+Sans:wght@300&family=Roboto:wght@300&display=swap');



.container-fluid-body-planets{
    width: 100%;
    height: fit-content;
}

.container-title-planets{
    margin-top: 60px;
    margin-left: 30px;
}

/* .container-cards{
  
} */

/* .container-cards{
    
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 73vh;
    max-width: 1890px;
    width: 100%;
    position: relative;
    left: 10px;
   
} */


#carousel-cards-planets{
    list-style: none;
    border-radius: 9px;
    background-color:#1D1E1F;
    color:#F5D949 ;
}

.characters-title-planets{
    font-family: 'Belanosima', sans-serif;
    font-weight: 700;
    color: white;
    margin-left: 30px;
}


.card-title-planets{
    margin-left: 5px;
}

.card-text-planets{
    margin-left: 5px;
}

.card-img-top-planets{
    height: 22rem;
}

.butonCards-planets{
    display: flex;
    justify-content: space-between;
}

.learn-more-planets{
    color: black;
    background-color: #ffd500;
    padding: 6px;
    border-radius: 10px;
}

.learn-more-planets:hover{
    color: black;
    background-color: rgb(255, 237, 150);
}

.favorite-icon-planets{
    padding: 6px;
    color: black;
    background-color: #F5D949;
    border-radius: 10px;
}

.favorite-icon-planets:hover {
    color: black;
    background-color: rgb(255, 237, 150);
}


.cards-characters-planets{
    font-family: 'Belanosima', sans-serif;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-title-planets{
    font-family: 'Belanosima', sans-serif;
    font-weight: 700;
}

.allContentCard-planets{
    font-family: 'Belanosima', sans-serif;
    font-weight: 400;
}


.disable-button-left-planets{
    display: none;
}

.disable-button-right-planets{
    display: none;
}

.button-custom-left-planets{
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 15px 20px rgb(0, 0, 0,0.40);
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0,0, 0.5);
    color:   #F5D949;
    top: 55%;
    left: 0.9%;

}

.button-custom-right-planets{
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 15px 20px rgb(0, 0, 0,0.40);
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0,0, 0.5);
    color:   #F5D949;
    top: 55%;
    right: 2%
}

/* .container-cards .carousel-cards-wrapper{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100%/3)-12px);
    gap:16px;
    overflow: hidden;
    margin-top: -40px;
    color: white;
} */

/* .container-cards i{
    background: white;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    font-size: 1.25rem;
    top: 40%;
    transform: translateY(-50%);
    box-shadow: 0 15px 20px rgb(0, 0, 0,0.40);
} */



/* .container-cards i:first-child{
    left: 23px;
    z-index: 1;
}

.container-cards i:last-child{
    right: -9px;
} */


/* @media screen and (max-width:900px){
    .container-cards .carousel-cards-wrapper{
        grid-auto-columns: calc((100%/2)-9px);
    }
    
}

@media screen and (max-width:600px){
    .container-cards .carousel-cards-wrapper{
        grid-auto-columns: 100%;
    }
} */ 