@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Crete+Round&family=Merriweather+Sans:wght@300&family=Roboto:wght@300&display=swap');



.container-fluid-body-vehicles{
    width: 100%;
    height: 90%;
}

.container-title-vehicles{
    margin-top: 3%;
    margin-left: 2%;

}


#carousel-cards-vehicles{
    list-style: none;
    border-radius: 9px;
    background-color:#1D1E1F;
    color:#F5D949 ;
}

.characters-title-vehicles {
    font-family: 'Belanosima', sans-serif;
    font-weight: 700;
    color: white;

}



.card-title {
    margin-left:0.5%
}


.card-img-top-vehicles{
    height: 25rem;
}

.allContentCard-vehicles{
    font-family: 'Belanosima', sans-serif;
    font-weight: 400;
}

.butonCards-vehicles{
    display: flex;
    justify-content: space-between;

}

.learn-more-vehicles {
    color: black;
    background-color: #ffd500;
    padding: 6px;
    border-radius: 10px;
  

}

.learn-more-vehicles:hover {
    color: black;
    background-color: rgb(255, 237, 150);
}

.favorite-icon-vehicles{
    padding: 6px;
    color: black;
    background-color: #F5D949;
    border-radius: 10px;
}

.favorite-icon-vehicles:hover {
    color: black;
    background-color: rgb(255, 237, 150);
}


.cards-characters{
    font-family: 'Belanosima', sans-serif;
    margin-left: 2%;
    margin-top: 0.7%; 
    margin-bottom: 0.7%;
}

.card-title-vehicles{
    font-family: 'Belanosima', sans-serif;
    font-weight: 700;
}




.disable-button-left-vehicles{
    display: none;
}

.disable-button-right-vehicles{
    display: none;
}

.button-custom-left-vehicles{
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 15px 20px rgb(0, 0, 0,0.40);
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0,0, 0.5);
    color:   #F5D949;
    top: 190%;
    left: 1.5%;

}

.button-custom-right-vehicles{
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 15px 20px rgb(0, 0, 0,0.40);
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0,0, 0.5);
    color:   #F5D949;
    top: 190%;
    right: 4.8%;
}


.favorite-icon-disabled{
    background-color: #ccc; /* Change the background color to indicate it's disabled */
    pointer-events: none; /* Disable pointer events, so the button can't be clicked */
    cursor: not-allowed; /* Change the cursor to indicate it's not clickable (optional) */
    padding: 6px;
    color: black;
    border-radius: 10px;
}

/* .container-cards .carousel-cards-wrapper{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100%/3)-12px);
    gap:16px;
    overflow: hidden;
    margin-top: -40px;
    color: white;
} */

/* .container-cards i{
    background: white;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    font-size: 1.25rem;
    top: 40%;
    transform: translateY(-50%);
    box-shadow: 0 15px 20px rgb(0, 0, 0,0.40);
} */



/* .container-cards i:first-child{
    left: 23px;
    z-index: 1;
}

.container-cards i:last-child{
    right: -9px;
} */


/* @media screen and (max-width:900px){
    .container-cards .carousel-cards-wrapper{
        grid-auto-columns: calc((100%/2)-9px);
    }
    
}

@media screen and (max-width:600px){
    .container-cards .carousel-cards-wrapper{
        grid-auto-columns: 100%;
    }
} */ 